.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    z-index: 3;
    align-items: center;
    &__link {
        &-turn {
            transform: rotate(-90deg);
        }
        &:hover {
            svg path {
                fill: $main-color;
            }
        }

    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000000;
    }
    &__text {
        height: 150px;
        width: 24px;
        span {
            transform: rotate(-90deg) translate(-30%,-270%);
            display: block;
            width: 150px;
        }
    }

}